/* Loading my custom fonts */
@font-face {
  font-family: "silk serif";
  src: url("./silkserif-lightitalic-webfont.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #151515;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "gilroy";
  color: white;
}

#crsr{
  height: 2vw;
  width: 2vw;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  position: absolute;
  z-index: 999999999;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;

}

/* Loader Styles */
#loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 15vh 10vw;
}

.line {
  font-size: 4vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
  height: fit-content;
  overflow: hidden;
  line-height: 8vw;
}

#line1-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  height: 100px;
}

#line1-part1 h3, #line1-part1 h4 {
  font-family: "silk serif";
}

#line1-part1 h4 {
  font-size: 3.5vw;
  width: 5vw;
  text-align: right;
  font-weight: 500;
}

#line1-part1 h3 {
  font-size: 3.5vw;
  font-weight: 500;
}

#loader p {
  margin-top: 5vh;
  margin-left: 10vw;
}

.line h1 {
  font-weight: 500;
}

.line h2 {
  font-size: 5.5vw;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  font-weight: 100;
}

/* Creating animation for NOW blinking in Loader */
@keyframes now_animation {
  0% {
    opacity: 1;
    font-family: "gilroy";
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  47% {
    opacity: 0;
    font-family: "gilroy";
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  53% {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    opacity: 1;
    font-family: "silk serif";
    color: transparent;
  }
  100% {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    opacity: 0;
    font-family: "silk serif";
    color: transparent;
  }
}

/* Main Website Styles */
#main {
  /* position: relative; */
  display: none;
  cursor: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
}

#navigation-bar #images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#navigation-bar #images svg{
  position: absolute;
  left: 8.5%;
}

#navigation-bar #dots {
  height: 1vw;
  width: 1vw;
  color: white;
  filter: invert(100%);
}

#navigation-bar #dots img {
  color: white;
}

#navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2vw 5.5vw;
}

#navigation-bar-part2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

#navigation-bar-part2 h4 {
  font-size: 1vw;
  font-weight: 400;
}

#navigation-bar-part2 h3 {
  font-size: 01vw;
  font-weight: 400;
}

#navigation-bar-part2-part2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
}

#hero{
  height: 65vh;
  /* background-color: red; */
  width: 100%;
  padding: 5vh 0vh 0vh 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-left: 2vw;
}

#hero1::before{
  content: '01';
  font-family: 'silk serif';
  position: absolute;
  left: -15%;
  -webkit-text-stroke: 0px transparent;
  font-size: 3vw;
}



.hero{
  height: 100%;
  width: 50%;
  /* background-color: grey; */
}

#hero3{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#hero p{
  position: absolute;
  left: 5%;
  bottom: 15%;
  overflow: hidden;
  animation: scrollAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

 #flag-img {
  position: absolute;
  height: 30vw;
  width: 20vw;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


 #flag-img img{
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;

}

@keyframes scrollAnimation {
  0% {
    opacity: 100%;
  }

  50%{
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.hero h1{
  font-size: 7vw;
  font-weight: 600;
  line-height: 16vh;
  text-transform: uppercase;
}

.hero h2, .hero h3{
  font-size: 7vw;
  font-weight: 600;
  line-height: 16vh;
  text-transform: uppercase;
}

.hero h2{
  border-bottom: 10px solid white;
  transition: all 0.1s ease-in-out;
}


.hero h2:hover{
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.hero h2:hover #flag-img{
  opacity : 100%;
}


#page2 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page2 #videoContainer{
  height: 65%;
  width: 70%;
  margin-left: 30%;
  position: relative;
  margin-top: 10vh;
}

#page2 #videoContainer video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 #videoContainer img{
  
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 99;
  pointer-events: none;
}

#page2 #videoContainer #playButton {
  position: absolute;
  height: 10vw;
  width: 10vw;
  background-color: #FFA63D;
  z-index: 999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-13%;
  right: 20%;
}

#page2 #videoContainer #playButton i{
  font-size: 2vw;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
